@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300&family=Lexend+Deca&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
   
    font-weight: 700;
    
    
}
body{
    background-color: hsl(0, 0%, 95%); 
    font-size: 15px;
}
img{
    margin-top: 2rem;
    margin-left: 1rem;
}
.container{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 5rem;
    width: 100%;
    background-color: white;
    padding: 3rem 9rem 3rem 9rem;
    
    box-shadow: 5px 5px 5px 5px grey;
}
.column{
   width: 100%; 
height: 70vh;

}
p{
    color: hsla(0, 0%, 100%, 0.75); 
    margin-left: 2rem;
   
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.column:first-child{
    background-color: hsl(31, 77%, 52%);
    border-radius: 7px 0 0 7px;
}
.column:nth-child(2){
    background-color: hsl(184, 100%, 22%);
}
.column:nth-child(3){
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 7px 7px 0;
}
.cta{
    background-color: #f2f2f2;
    padding: 10px 25px;
    text-decoration: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 0.7em;
    border-radius: 50px;
    margin: 0;
  position: absolute;
 margin-left: 2rem;
  margin-top: 15px;
}
.cta:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.a1{
    color: hsl(31, 77%, 52%);
}
.a2{
color: hsl(184, 100%, 22%);
}
.a3{
color:hsl(179, 100%, 13%);
}
h1{
    
    margin: 2rem 0 2rem 2rem;
}

@media only screen and (max-width: 425px){
    .container{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 0.1rem;
        
       width: 100%;
        padding: 1rem 2rem 1rem 2rem;
           
    }
    .column:first-child{
        background-color: hsl(31, 77%, 52%);
        border-radius: 7px 7px 0 0;
    }
    .column:nth-child(3){
        background-color: hsl(179, 100%, 13%);
        border-radius: 0 0 7px 7px;
    }
    .column{
        height: 55vh;
    }
    p{
        color: hsla(0, 0%, 100%, 0.75); 
        margin-left: 1rem;
       margin-right: 1rem;
     
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        font-size: 15px;
    }
    h1{
        font-size: 25px;
        margin: 1em 0 2rem 1rem;
    }
    img{
        width: 60px;
    }
    .cta{
        background-color: #f2f2f2;
        padding: 6px 15px;
        text-decoration: none;
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        font-size: 0.5em;
        border-radius: 50px;
        z-index: 1;
        display: inline;
      margin-top: 30px;
     margin-left: 1rem;
     
    }
}

@media only screen and (min-width: 426px) {
    .container{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
       
    }
   .column{
       height: 35vh;
   }
   p{
       font-size: 18px;
   }
   .column:first-child{
    background-color: hsl(31, 77%, 52%);
    border-radius: 7px 7px 0 0;
}
.column:nth-child(3){
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 7px 7px;
}
}
@media only screen and (min-width: 961px){
    .container{
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 3rem;
        width: 75%;
        background-color: white;
        padding: 3rem 9rem 3rem 9rem;
        
        box-shadow: 5px 5px 5px 5px grey;
    }
    .column{
        height: 70vh;
    }
    .column:first-child{
        background-color: hsl(31, 77%, 52%);
        border-radius: 7px 0 0 7px;
    }
    .column:nth-child(2){
        background-color: hsl(184, 100%, 22%);
    }
    .column:nth-child(3){
        background-color: hsl(179, 100%, 13%);
        border-radius: 0 7px 7px 0;
    }
}